@import url('./header.css');
@import url('./footer.css'); 
@import url('./portfolio_grid.css'); 
@import url('./portfolio_article.css'); 
@import url('./form.css');


:root {
  --primary-color: #000000;  
  --secondary-color: #00000082; 
  --active-color: #9effc6; 
  --background-color: #fffdef;
  --text-color: #333;
  --border-thin: 1px solid black;
  --border-radius: 8px;
  --hover-color:  #00000082; 
}



body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color) !important;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.intro{
  font-size: 40px;
}

.padding-20{
  padding: 20px;
}


h6 a {
  font-size: 15px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden{
  display: none;
}

.main-content {
  flex: 1; 
  padding: 20px;
}


/* Custom cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3);
  transition: transform 0.15s ease-out, opacity 0.2s ease-out;
  z-index: 9999;
}

.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}

.custom-cursor--init {
  opacity: 1;
}

.block {


}

.block__title {
  margin-bottom: 1em;
  font-size: 4rem;
  font-weight: 300;

}
.block__link {
  padding: 0.5em;
  text-decoration: none;
  /* transition: letter-spacing 200ms ease; */
}
.block__link:hover {
  font-weight: bold;
  /* letter-spacing: 0.2em; */
}

/* Scrollbar */

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color); 
  border-left: var(--border-thin);
  padding: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b3a9; 
  border-radius: var(--border-radius);
  width: 5px;  
  background-clip: content-box; 
  border: 3px solid transparent;  
  opacity: 0.6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8b83;  
  border: 3px solid transparent !important; 

}
