

header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 10px 20px;
  z-index: 1000;
  border-bottom: var(--border-thin);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

/* Title */
.navbar h2 a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.8rem;
  
}

/* Navigation (ul) */
.nav-flex ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* List items */
.nav-flex ul li {
  display: inline-block;
  text-transform: lowercase !important;
}

/* Links */
.nav-flex ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-flex ul li a:hover {
  color: var(--hover-color);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}





@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    flex-direction: column;
    gap: 15px;
  
  }
}