h2{
    font-size: 20px !important;
}

/* Portfolio Grid */
.portfolio-grid {
    display: grid; 
    grid-template-columns: repeat(3, minmax(250px, 1fr));  /* Allow items to shrink and grow within 250px minimum width */
    gap: 20px; 
    margin: 20px; 
}

/* Image container */
.image-container {
    margin-bottom: 30px;
}

/* Each article within the grid */
.portfolio-grid article {
    padding: 16px;
    border-radius: 8px; 
    overflow: hidden; 
}

/* Image styles */
.portfolio-grid article img {
    width: 100%; 
    height: auto; 
    border-radius: var(--border-radius);
}

/* Hover effect */
.portfolio-grid article:hover img {
    filter: saturate(2.5); 
}

/* Title styles */
.portfolio-grid article h2 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-top: 12px; 
    color: #333; 
    line-height: 1.3; 
}

.portfolio-grid article h2:hover {
    color: #777777; 
}


/* TRUE IMAGE HOVER FX */
.image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;  /* Aspect ratio (width:height 4:3) */
}

.primary-image,
.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Make the image fill the container */
    height: 100%;  /* Maintain the aspect ratio */
    object-fit: cover;  /* Ensure the image covers the area without distortion */
    border-radius: var(--border-radius); /* Ensure border-radius consistency */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.hover-image {
    opacity: 0;
    transition: opacity 0.1s ease;
}

.image-container:hover .primary-image {
    opacity: 0;
}

.image-container:hover .hover-image {
    opacity: 1;
}

/* Responsive Design: Tablets and smaller screens (adjust to two columns) */
@media (max-width: 1024px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Ensure two columns with at least 300px per item */
        gap: 16px;
    }
}

/* Smaller mobile screens (single column layout) */
@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* Items should be smaller on mobile */
        gap: 16px; 
    }

    .portfolio-grid article h2 {
        font-size: 1.25rem;
    }
}
